body {
	background-image: url(images/background.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;

}

h1 {
	color: white;
	text-align: center;
}

h2 {
	margin-top: 0;
	margin-bottom: 5px;
}

p {
	color: white;
	text-align: center;
}

ul {
	list-style: none;
	margin-top: 0;
	padding-left: 0;
	margin-left: 0;
}

li {
	margin-bottom: 5px;
	padding-left: 0;
	margin-left: 0; 
}

canvas {
	border: white 1px solid;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: white;

}

.key-item {
	width: 14px;
	height: 14px;
	margin-right: 8px;
	display: inline-block;
}

#key {
	width: 250px;
	margin: 20px auto 0 auto;
	background-color: white;
	border-radius: 2px;
	padding: 5px 0 5px 20px;	
}

#blue {
	background-color: #50B3FA;
}

#green {
	background-color: #19B319;
}

#red {
	background-color: #ED3E6F;
}

#brown {
	background-color: #8F6353;
}

#black {
	background-color: #000000;
}